.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.masthead h3,
.masthead p {
  margin-bottom: 0;
  line-height: 25px;
}
.masthead hr {
  margin-top: 10px;
}
.article-list img {
  width: 100%;
}
.article-list.row-fluid [class*="span"]:nth-child(odd) {
  margin-left: 0;
  clear: both;
}
@media (min-width: 1200px) {
  .entry-content .aligncenter {
    margin: 0 auto;
  }
  .entry-content .alignleft {
    float: left;
    margin-right: 15px;
  }
  .entry-content .alignright {
    float: right;
    margin-left: 15px;
  }
}
