body {
    //background-color: #efefef;
}
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
    //background: #fff;
    //padding: 20px;
}

.masthead {
    h3, p {
        margin-bottom: 0;
        line-height: 30px;
    }
    hr {
        margin-top: 10px;
    }
}

.article-list {
    img {
        width: 100%;
    }

    &.row-fluid [class*="span"]:nth-child(odd) {
        margin-left: 0;
        clear: both;
    }
}
